<!DOCTYPE html>
{% load static %}
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Talyplara</title>

<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
 <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link href="favicon.ico" rel="shortcut icon" type="image/x-icon">
</head>
<body>
<header class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="position: relative; margin-bottom: 0px;">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
              
            <li><a class="text-top" href="{% url 'hunar_url' %}"><b>Hünär</b></a></li>
            <li><a class="text-top" href="{% url 'talyplara_url' %}"><b>Talyplara</b></a></li>
            <li><a class="text-top" href="{% url 'galereya_url' %}"><b>Galereýa</b></a></li>
            <li><a class="text-top" href="{% url 'contacts_url' %}"><b>Habarlaşmak üçin</b></a></li>
            <!-- <li class="active"><a href="#">Главная</a></li>-->
          </ul>
        </div>
      </div>
</header>

<div class="block-logo">
		<div class="left-top">
        	<div class="logo_img">
				<img src="{% static 'logo2.png' %}" hspace="0" vspace="0" border="0" alt="To main page" style="">
			</div>
			<div class="title_head">
          <h1 class="qwe"><b>Belarus Döwlet Informatika we Radioelektronika Uniwersiteti</b><h2>
            	</div>
            </div>
            <div class="flags-center">
              
            </div>
            <div class="right-top">
            	<ul class="hr">
            		<li><a class="text-top" href="#"><b>TKM</b></a></li>
            		<li><a class="text-top" href="https://www.bsuir.by/ru/"><b>RU</b></a></li>
            	</ul>
            </div>
</div>

<div class="container" id="cont">
  <div class="text">
    <h1 style="text-align: center;"><b>Näme üçin BSUIR?</b></h1>

    <ul class="list-content">
  <li class="item-content">1. Döwrebap hühär boýunça ugur IT radioelektronika we infokommunikasiýa.</li>
  <li class="item-content">2. Türgenleşik üçin rus we iňlis dilleri.</li>
  <li class="item-content">3. Oçnyý, zaoçnyý we distansion tälimleri.</li>
  <li class="item-content">4. Gosmaga bilim okuw merkezi we bütindünýä alyp baryjy kompaniýasy.</li>
  <li class="item-content">5. Özüňi alyp barmak boýunça söhbetdeşlik.</li>
   <li class="item-content">6. Stajirowka we tejribelik üçin araçäk maksatnama laýyklykda alyş-çalyşma.</li>
    <li class="item-content">7. Orun içinde üpjün edilýän jemgiýetçilik durmuşy.</li>
     <li class="item-content">8. Mazmuna bay medeni we sport ýaşaýşy.</li>
      <li class="item-content">9. Biziň gutarýan uçurymlarymyz halkara zähmet bazarynda örän talap edilýär.</li>
</ul>

<hr>

<h1 style="text-align: center; margin-top: 35px;"><b>Daşary ýurt talyplara berilýän üpjünçilik :</b></h1>
<ul class="list-content">

  <li class="item-content">Daşary ýurt talyplara umumy ýaşaýyş jaýynda ýer üpjünçiligi.</li>
  <li class="item-content">Uniwersitetyň umumy ýaşaýyş jaýy Minsk şäheriniň merkezinde ýerleşýär.</li>
  <li class="item-content">Umumu ýaşaýyş jaýy 2 – 3 adamdan ybarat.</li>
  <li class="item-content">Umumu ýaşaýyş jaýynyň tölegi her aýda takmynan 30 – 50 $</li>
</ul>

<hr>

<h1 style="text-align: center; margin-top: 35px;"><b>Okuw tölegi:</b></h1>
<ul class="list-content">
  <li class="item-content">Oçnyý görnüş okuwy – 2500 $ ýylda  (bilim möhleti 4-5 ýyl).</li>
  <li class="item-content">Zaoçnyý we distansion görnüş okuwy – 1300 $ ýylda  (bilim möhleti 5 ýyl)</li>
</ul>

<hr>

<h1 style="text-align: center; margin-top: 35px;"><b>BSUIR – hil, synagdan geçen döwüri.</b></h1>
<ul class="list-content">
  <li class="item-content">BSUIR iň esasy saýlanan uniwersitet.</li>
  <li class="item-content">9 fakultet, 32 kafedra, Habar beriş Tehnologiýa Instituty (2 fakultet we 3 kafedra)</li>
  <li class="item-content">Okaýan talyplaryň sany 18 müňe golaý.</li>
  <li class="item-content">Ýokary bilimiň birinji gatlagy 38 hünäre barabar.</li>
  <li class="item-content">Daşary ýurt talyplara hasaby 600 sany olaryň hersi 40 ýurtdan ybarat.</li>
  <li class="item-content">42 döredijilik işgärleri.</li>
</ul>

</div>
</div>

</body>
</html>